body {
    background-color: #fafafa;
  }

h1 {
  color: #cb3737;
}

h3 {
    color: #cb3737;
}

hr {
    border-style: dotted none none none;
    border-width: 5px;
    border-color: grey;
    width: 5%;
  }
