body {
    background-color:#e0ebe8;
  }

h1 {
  color: #66BFBF
}

h3 {
    color: #66BFBF
}

hr {
    border-style: dotted none none none;
    border-width: 5px;
    border-color: grey;
    width: 5%;
  }
